
            label.snow.snowy{

                color: brown;
            }
             .snow{
                border: solid black;
                color: aqua;
                text-align: center;
                text-align: start;
                text-align: end;
                text-align: left;
                text-align:start;
               font-family: "Bitcount Single Ink", system-ui;
               font-optical-sizing: auto;
                   
             }
     
        